<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login</title>
    </head>
    <body>

        <h1>Login to check your details</h1>
        <p style="color:red;"> <span th:text="${errorStr}">xxx</span> </p>
         
        <form action="#" th:action="@{/login}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
                
        <p></p>
    </body>
</html>
